name: Release Please

on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write
  issues: write

jobs:
  bump-uses:
    runs-on: ubuntu-latest
    steps:
      - name: Bump Uses
        uses: ryohidaka/action-bump-uses@v0.4.0

  release-please:
    needs: bump-uses
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        with:
          release-type: simple
          config-file: .release-please-config.json
          token: ${{ secrets.GITHUB_TOKEN }}
